<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.tensorflow.lite.examples.Blind_aid">

    <uses-sdk />

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.FLASHLIGHT"/>
    <uses-feature android:name="android.hardware.camera"/>
    <uses-feature android:name="android.hardware.camera.flash"/>

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="Blind Aid"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.ObjectDetection">

        <activity
            android:name="org.tensorflow.lite.examples.Blind_aid.DetectorActivity"
            android:label="Blind Aid"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name="org.tensorflow.lite.examples.Blind_aid.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="org.tensorflow.lite.examples.Blind_aid.FindObjects" />
        <activity android:name=".DetectObjectByName" />
        <activity android:name=".ObstacleAvoidance"/>
        <activity android:name=".Main"/>
        <activity android:name=".AskAnything"/>
        <activity android:name=".GiveFeedback"/>

</application>
</manifest>
